<div class="container">
  <h1>Component Viewer</h1>
  
  <section class="component-section">
    <h2>Standart Bileşenler</h2>
    <div class="component-item" *ngFor="let component of regularComponents">
      <h3>{{ component.name }}</h3>
      <p>{{ component.description }}</p>
      <app-component-viewer [cHtml]="component.html" [cCss]="component.css" [cJs]="component.js"></app-component-viewer>
    </div>
  </section>
  
  <section class="component-section">
    <h2>İç İçe Bileşenler</h2>
    <div class="component-item" *ngFor="let component of nestedComponents">
      <h3>{{ component.name }}</h3>
      <p>{{ component.description }}</p>
      <app-component-viewer [componentId]="component.id || ''"></app-component-viewer>
    </div>
  </section>
</div>